<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Choose a flight</h1>
<table>
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Departure Time</th>
            <th>Landing Time</th>
            <th>Duration</th>
            <th>Economy Price</th>
            <th>Business Price</th>
        </tr>
    </thead>
        <tbody>
            {% for flight in flights %}
                {% if flight.status == active%}
                <tr>
                    <td>{{flight.origin_airport}}</td>
                    <td>{{flight.destination_airport}}</td>
                    <td>{{flight.departure_date}}</td>
                    <td>
                        {% for dept in flight.available_depts %}
                        <a href="/flight/{{ flight.flight_id }}/select seats/{{ dept }}"
                           class="btn-{{ dept | lower }}">
                            {{ dept }}
                        </a>
                        {% endfor %}
                    </td>
                </tr>
                {%endif%}
            {%endfor%}
        </tbody>
</table>
{%if flights|length == 0%}
    <p>no available flights</p>
{%endif%}
</body>
</html>
</body>
</html>