<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> To Continue As Guest</h1>
    <form action="/" method="POST">
    <input type = "email" name = "guest_email" placeholder ="Email" required><br>
    <input type = "text" name ="first_name" placeholder="Your First Name" required><br>
    <input type = "text" name ="last_name" placeholder="Your Last Name" required><br>
    <input type = "text" name ="passport_number" placeholder="87654321" minlength="8" maxlength="8" required><br>
    <a href="/?flights">show flights</a>
    </form>
<script>
    function addphone() {
        var container = document.getElementById("Extra_Phone");
        var input = document.createElement("input");

        input.type = "text";
        input.name = "phone_list";
        input.placeholder = "050-0000000";
        input.minLength = "10";
        input.maxLength = "10";

        container.appendChild(input);

        var br = document.createElement("br");
        container.appendChild(br);
    }
    </script>
</body>
</html>