<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Flights Board</h1>
<table>
    <thead>
        <tr>
            <th>origin</th>
            <th>destination</th>
            <th>date</th>
        </tr>
    </thead>
        <tbody>
            {% for flight in flights %}
                {% if flight.status == active%}
                <tr>
                    <td>{{flight.origin_airport}}</td>
                    <td>{{flight.destination_airport}}</td>
                    <td>{{flight.departure_date}}</td>
                    <td>
                        <a href="/flight/{{flights.flight_id}}/seats" class="select-button>choose seats</a>
                    </td>
                </tr>
                {%endif%}
            {%endfor%}
        </tbody>
</table>
{%if flights|length == 0%}
    <p>no available flights</p>
{%endif%}
</body>
</html>