<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1> Welcome to FlyTAU!</h1>
  <h2> log-in for registered costumers</h2>
  <form action="/" method="POST">
    <input type = "email" name = "registered_email" placeholder ="Email" required><br>
    <input type = "password" name = "registered_password" placeholder = "password" required><br>
    <input type = "submit" value="Log In"><br>
    <a href="/?sign up">sign up</a><br>
    <a href="/?flights">continue as guest</a>
  </form>
</body>
</html>