<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1> hello {{manager's_first_name}}</h1>
    <h2> what would you like to do today?</h2>
</div>
<hr>
<h3> Flights Management</h3>
<div>
    <a href="/add_a_new_flight">add a new flight</a>
    <a href="//cancel_flight">cancel flight</a>
</div>
<hr>
<h3> Management Reports</h3>
<div>
    <a href="report_1">report 1</a>
    <a href="report_2">report 2</a>
    <a href="report_3">report 3</a>
    <a href="report_4">report 4</a>
    <a href="report_5">report 5</a>
</div>
</body>
</html>