<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f9; }
        .container { background: white; width: 60%; margin: 50px auto; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
        h1 { color: #2c3e50; }
        .stat-box { font-size: 1.2em; color: #555; margin-bottom: 20px; }
        button { padding: 10px 20px; font-size: 16px; cursor: pointer; }
    </style>
</head>
<body>
<div class="container">
        <h1> (Global Occupancy)</h1>

        <div class="stat-box">
             <strong>{{ "%.1f"|format(percentage) }}%</strong>
        </div>

        <img src="{{ url_for('static', filename=graph_image) }}" alt="Occupancy Graph" width="500">

        <br><br>
        <button onclick="window.history.back()">Back to Dashboard</button>
    </div>
</body>
</html>